<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Notification">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notification</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="reserveer">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Reseveer</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
