<ion-text color="primary">
	<h2>Toegang tot volgende lockers</h2>
</ion-text>
<ion-card>
	<ion-card-header>
		<ion-card-title>Lokaal 1.03 <ion-badge color="success">Open</ion-badge></ion-card-title>
		<ion-card-subtitle>Jarno Cools, Imad El-Azzouzi, Oussama Es-Salhi, Afaq Mughal</ion-card-subtitle>
	</ion-card-header>

	<ion-card-content>
		<ion-text color="primary">
			<h1>Locker 1</h1>
		</ion-text>
		<ion-text color="dark">
			<h2>Elektronica doos</h2>
		</ion-text>
		<ion-text color="danger">
			<h2>Vergeet de locker niet te sluiten!</h2>
		</ion-text>
	</ion-card-content>
</ion-card>

<ion-card>
	<ion-card-header>
		<ion-card-title>Lokaal 1.07 <ion-badge color="danger">Closed</ion-badge></ion-card-title>
		<ion-card-subtitle>Jarno Cools</ion-card-subtitle>
	</ion-card-header>

	<ion-card-content>
		<ion-text color="primary">
			<h1>Locker 4</h1>
		</ion-text>
		<ion-text color="dark">
			<h2>Elektronica doos</h2>
		</ion-text>
		<ion-chip color="success" outline="true">
			<ion-label color="success">Open locker</ion-label>
		</ion-chip>
	</ion-card-content>
</ion-card>
